.my_nav{
    font-size: 30px;
    font-weight: 30px;
}

#topic:hover{
    font-weight: bolder;

}

.contact{
    color: rgb(49, 159, 228);
    font-weight: bold;
}

.Services{
    color: rgb(52, 70, 203);
    font-weight: bold;
}

.nav-item:hover{
    font-weight: bold;
}

.aayush{
    color: rgb(20, 133, 233);
}

.btn-get-started{
    font-size: 40px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid black;
}
