.my_nav{
    font-size: 30px;
    font-weight: 30px;
}

#topic:hover{
    font-weight: bolder;

}

.contact{
    color: rgb(49, 159, 228);
    font-weight: bold;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.rotating-image {
    animation: tilt 0.3s;
  }
  
  @keyframes tilt {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.nav-item:hover{
    font-weight: bold;
}

.aayush{
    color: rgb(20, 133, 233);
}

.btn-get-started{
    font-size: 40px;
    text-decoration: none;
    border-radius: 20px;
    border: 2px solid black;
}
